/* Register.css */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .register-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .register-container .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .register-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .register-container .form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .register-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .register-container button[type="submit"]:focus {
    outline: none;
  }
  